d6-business-map{
    position: relative;
}
#app-wrapper{
    position: relative;
    display: flex;
    -ms-flex-align: stretch;
    height: 800px;
}
#app-wrapper article{
    width: 100%;
}
cod-map{
    flex: 1;
}
.full-list h3{
    margin: 0 0 .5em 0;
    width: 100%;
}
.full-list cod-button{
    display: block;
}
.filter-section{
    display: flex;
    align-items: center;
}
#b-type-select-box{
    position: relative;
}
#b-type-select-box label{
    color: #fff;
    position: absolute;
    top: 2em;
    right: .75em;
}
#b-type-select-box label svg{
    position: relative;
    top: .25em;
}
#b-type-select-box select:has(option:checked)  + label{
    height: 1px;
    width: 1px;
    overflow: hidden;
}   
#b-type-select-box select:not(:focus):has(option:checked)  + label{
    height: auto;
    width: auto;
    overflow: auto;
} 
#b-type-select-box select{
    border: none;
    padding: 1.7em .8em;
    background-color: #004445;
    color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}
#b-type-select-box select:hover{
    background-color: #003a3b;
    color: #fff;
    cursor: pointer;
}
#b-type-select-box select option:checked{
    background-color: #a9a9a9;
    color: #000;
}
#b-type-select-box select:focus option{
    color: #fff;
}
.cat-container img{
    border-radius: 1em;
    width: 100%;
}
.cat-container .plus-icon{
    color: #004445;
    position: absolute;
    top: 25%;
    right: 40%;
}
.cat-container .see-more-btn{
    position: absolute;
    top: 9em;
    right: 5em;
}
.cat-container .bmore-img-box{
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.32);
    border-radius: 1em;
    display: flex;
}
/* Styles for filter listing */
.b-group-container{
    max-height: 100vh;
    overflow-y: auto;
}
@media all and (min-width: 450px) {
    #b-type-select-box label{
        top: .55em;
        right: .75em;
    }
    #b-type-select-box select{
        padding: .45em;
    }
}
